body {
    color: rgb(255, 250, 234);
    background-color: rgb(255, 250, 234) ; 
    
}

.Header{
    background-color: rgb(111, 111, 111);
    color: rgb(255, 250, 234);
    text-align: center;
}

.Content{
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    color: black;
    text-align: left;
}

.main-image{
    width: 300px;
    height: 200px;
    display: block;
    margin: 0 auto;
}
